header{
    padding-bottom: 70px;
    border-style:unset;
    border-radius: 5%;
    background-color: brown;
}
h1,h3,a,ol,li{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color:lavender;
}
section,article{
    text-align: left;   
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 530px;
}
img{
    padding: 5px;
    border-radius: 50%;
    margin: 20px 20px 20px 20px;
    border-style: solid;
    border-color: rgb(128, 38, 38);
    width: 250px;
    height: 250px;
}
aside{
    text-align: left;
    float: right;
    background-color:brown;
    border-radius: 5%;
    margin-right: 150px;
}

