* {
    box-sizing: border-box;
  }
  body {
      background-color: gray;
  }
  .container {
      color: white;
      background-color: lightyellow;
      border: 1px solid black;
      padding: .5em;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content:space-evenly;
  }
  .item {
      border: 1px solid black;
      padding: .5em;
      margin: .5em;
  }
  .item-1 {
      background-color: blue;
  }
  .item-2 {
      background-color: green;
      width: 100px;
  }
  .item-3 {
      background-color: red;
      height: 100px;
  }
  .item-4 {
      background-color: violet;
      width: 200px;
  }
  .item-5 {
      background-color: brown;
      width: 150px;
      height: 150px;
  }
  .item-6 {
      background-color: goldenrod;
      width: 250px;
  }