.menu{
    width: max-content;
    color: aliceblue;
    background-color: brown;
    border-radius: 4%;
    color: rgba(0, 0, 0, 0.7);
    -webkit-text-stroke: 1px black;
    text-decoration: none;
}

aside{
    float: right;
    margin-right: 29%;
    margin-top: 12.3%;
    background-color: brown;
    color: aliceblue;
    border-radius: 4%;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 230px;
    height: 400px;
}
img{
    border-radius: 50%;
    background-color: aliceblue;
    padding: 5px;
    width: 220px;
}
section{
    text-align: left;
    display: block;   
    width: 250px;
    margin-top: 16%;
    margin-left: 33%;
    margin-bottom: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.7);
    -webkit-text-stroke: 1px black;
}
body{
    background-image: url('img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
