html{
    font-size: 62.5%;
}
.menu{

    width: 180px;
    background-color: brown;
    border-radius: 4%;
    color: rgba(0, 0, 0, 0.7);
    -webkit-text-stroke: 1px black;
    text-decoration: none;
}

body{
    background-image: url('img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
section{
    text-align: left;   
    width: 250px;
    margin-top: 7%;
    margin-left: 32.5%;
    margin-bottom: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.7);
    -webkit-text-stroke: 1px black;
    
}
img{
    border-radius: 50%;
    border: 10px solid blue;
    background-color: aliceblue;
    width: 230px;

    box-sizing: border-box;
}
aside{
    float: right;
    margin-top: 0%;
    margin-right: 29.5%;
    background-color: brown;
    color: aliceblue;
    border-radius: 4%;
    width: 230px;
    height: 330px;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


